/* -----------------------------
        media query start
-------------------------------- */

/* PC large Screen  */
@media (min-width:1900px) {
    nav{
        width:1900px ;
    }
    body{
        width: 1900px; 
    }
}


/* For Tab Device */
@media only screen and (min-width:689px) and (max-width:992px) {
    li{
        display: none;
    }
    .logo>h1{
        font-size: 200%;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .top-bg{
        display: none;
    }
    .title-img img{
        margin: 20% 20% 20% 0;
        width: 100%;
    }
    .all-colloction{
        display: grid;
        grid-row-gap: 1%;
        grid-template-columns:1fr 1fr;
        margin-bottom: 40%;
        }
        .see-btn{
            bottom: -6%;
        }
        .subsctiber{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 0%;
        }
 }


/* PC medim Screen  */
@media only screen and (min-width:1184px) and (max-width:1583px) {
    li{
        font-size: 80%;
    }
    .logo>h1{
        font-size: 180%;
    }
    .fill-btn{
        padding: 8px 15px;
        font-size: 10px;
    }
}
/* PC Short Screen  */
@media only screen and (min-width:993px) and (max-width:1183px) {
    li{
        font-size: 80%;
    }
    .logo>h1{
        font-size: 180%;
    }

}
/* For mobile Device */
@media only screen and (max-width:688px) {
    li{
        display: none;
    }
    .logo>h1{
        font-size: 180%;
    }
    .fill-btn{
        padding: 10px 18px;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .top-bg{
        display: none;
    }
    .title-img img{
        margin: 20% 20% 20% 0;
        width: 100%;
    }
    .all-colloction{
    display: grid;
    grid-row-gap: 1%;
    grid-template-columns: 1fr;
    margin-bottom: 200%;
    }
    .see-btn{
        bottom: -9%;
    }
    .subsctiber{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 0%;
    }
/* -----------------------------
        media query end
-------------------------------- */