/* ---------------------
        main font 
------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nunito&display=swap');

/*----------------------------
     Common Style Or Utilites 
 ----------------------------- */
body{
    margin: 0%;
    font-family: 'Chewy', cursive;
    font-family: 'Nunito', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.fill-btn{
    border-radius: 10px;
    background: #E02C6D;
    padding: 12px 24px;
    transition: background-color 1s ease-in-out;
}
li{
    list-style: none;
    padding-right: 1.5em;
}
.li-hover{
    padding: 30px 0;
    transition: 1s;
}
.li-hover:hover{
    color: #E02C6D;
}
.fill-btn:hover{
    background-color: hsl(332, 62%, 53%);
    transform: scale(1,1);
    position: relative;
    bottom: 5px;
}



/* ----------------------
        nav style start      
------------------------  */
nav{
    background-color: #343a40; 
    width: 100%;
    color: whitesmoke;  
}
.nav-itams{
    height: 75px;
    margin: 0 3%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-itams>div>ul>li>a,.fill-btn{
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;  
}

.nav-itams>div>ul{
    display: flex; 
}
.new{
    background-color: #FFC107;
    padding: 0 5px;
    border-radius: 5px;
}
/* ----------------------
        nav style end      
------------------------  */



/* ---------------------------------
     Main Titel or Web Header start
------------------------------------  */
.container{
    display: flex;
    justify-content: center;
    max-width: 1600px;
    margin:5% 15% 0 15%;
}
.main-title{
    margin-right: 10%;
}
.title-img{
    margin-left:10%;
}
/* ---------------------------------
     Main Titel or Web Header end
------------------------------------  */



/* --------------------------------
    All collection section start
---------------------------------  */
.populer-collection-title{
    padding-top: 5%;
    text-align: center;
}

.all-colloction{
    max-width: 1600px;
    margin:2% 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5%;
    grid-column-gap: 5%;
    margin-bottom: 10%;
}
.collection{
    box-shadow: 0 0 5px 0 lightslategray;
    border-radius: 10px;
    padding:20px;
    transition: 1s;
}
.collection:hover{
    box-shadow: 0 0 35px 0 lightslategray;
}
.collection img{
    width: 100%;
}
.see-btn{
    background: #fff;
    color: #E02C6D;
    text-decoration: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 15%;
    text-align: right;
    margin-top: 4%;
    font-weight: 700;
}
/* --------------------------------
    All collection section end
---------------------------------  */



/* --------------------------------
    Our Subscriber section start 
---------------------------------*/
.subescriber-section-title{
    margin-top: 25%;
    text-align: center;
}
.subsctiber{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    box-shadow: 0 0 10px blue;
    border-radius: 10px;
    margin:2% 25%;
    margin-bottom: 10%;
    padding-left: 5%;
}
/* --------------------------------
    Our Subscriber section end 
---------------------------------*/